site_name: pythonanywhere-briefcase-plugin
site_description: A Briefcase publication channel plugin for deploying static web apps to PythonAnywhere.
site_url: https://briefcase.pythonanywhere.com/
repo_url: https://github.com/pythonanywhere/pythonanywhere-briefcase-plugin
repo_name: pythonanywhere/pythonanywhere-briefcase-plugin

docs_dir: docs

nav:
  - Home: index.md
  - Tutorial: tutorial.md

theme:
  name: material
  language: en
  features:
    - toc.follow
    - navigation.footer
    - search.suggest
    - search.highlight
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

markdown_extensions:
  pymdownx.highlight: {}
  pymdownx.superfences: {}
  pymdownx.blocks.admonition: {}
  pymdownx.blocks.tab:
    alternate_style: true
  pymdownx.details: {}
  toc:
    permalink: true
    title: On this page
